---
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import BaseHead from "../components/BaseHead.astro";
---

<head>
  <BaseHead title="VEPER.CODE" description="About" />
</head>
<Body>
  <Header />
  <h1>About Me :</h1>
  <h2>A Full-stack Developer</h2>
</Body>
