---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="BIO" />
  </head>

  <main id="bio" class="my-20 w-[70%] inline-flex flex-col">
    <h1 class="relative w-[10%] text-2xl font-black pt-10 px-5 self-start">Bio</h1>
    <div class="relative w-[40%] self-start mb-2 px-5 h-2 bg-white"/>
    <h2 class="text-lg font-semibold my-5 px-10 self-start">I'm Veper , a full-stack Developer base in and from Hong Kong.</h2>
  </main>


</html>
