---
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import BaseHead from "../components/BaseHead.astro";
---

<head>
  <BaseHead title="VEPER.CODE" description="About" />
</head>
<Body>
  <Header />
  <h1 class="text-2xl font-black">About Me :</h1>
  <h2 class="text-lg font-semibold my-5 px-10">A Full-stack Developer</h2>
</Body>
