---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="ABOUT" />
  </head>

  <main id="about" class="my-20">
    <h1 class="text-4xl font-black">About Me :</h1>
    <h2 class="text-lg font-semibold my-5 px-10">A Full-stack Developer</h2>
  </main>


</html>
