---
import HeaderLink from "../components/HeaderLink.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../config";
import { IoLogoGithub, IoHeartOutline } from "react-icons/io5/index";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="BIO" />
    <style>
      div {
        display: flex;
        padding-top: 10px;
      }
      span {
        padding-left: 10px;
        padding-right: 10px;
      }
      p {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      fieldset {
        padding: 10px;
      }
      legend {
        padding: 10px;
      }
    </style>
  </head>

  <main
    id="bio"
    class="my-20 px-10 inline-flex flex-col item-start"
    aria-label="bio"
  >
    <h1 class="self-start text-xl font-black pt-10 px-5">Bio</h1>
    <h1 class="w-[40%] self-start mb-2 px-5 h-2 bg-neutral-400"></h1>
    <h2 class="text-md font-medium my-2 px-5 flex flex-col items-start">
      <div>1989 <span>Born in Hong Kong</span></div>
      <div>
        2021 <span
          >Say goodbye to my 12 years career in aviation engineering industry</span
        >
      </div>
      <div>
        2022 <span
          >Graduated AI & Programming Micro Master course at Tecky Academy</span
        >
      </div>
    </h2>

    <h1 class="self-start text-xl font-black pt-10 px-5">Tech I Use</h1>
    <h1 class="w-[40%] self-start mb-2 px-5 h-2 bg-neutral-400"></h1>
    <blockquote class="py-5 px-10 bg-zinc-400 dark:bg-zinc-700 rounded-lg flex flex-col items-start">
      <li>Restful API</li>
      <li>AJAX</li>
      <li>Git</li>
      <li>AWS - EC2/S3/Cloudfront</li>
      <li>Nginx</li>
      <li>Docker</li>
    </blockquote>
    <fieldset class="border border-zinc-500">
      <legend>Frontend</legend>
      <p>HTML, CSS</p>
      <p>Javascript / Typescript</p>
      <p>React</p>
      <p>React-Native</p>
      <p>Redux</p>
      <p>Redux-Thunk</p>
      <p>Tailwindcss</p>
    </fieldset>
    <fieldset class="border border-zinc-500">
      <legend>Backend</legend>
      <p>Node.js</p>
      <p>Express.js</p>
      <p>PostgreSQL</p>
      <p>MongoDB</p>
      <p>Redux-Thunk</p>
      <p>Tailwindcss</p>
    </fieldset>

    <h1 class="text-xl font-black pt-10 px-5">
      <IoHeartOutline size={30} />
    </h1>
    <h1 class="w-[40%] self-start mb-2 px-5 h-2 bg-neutral-400"></h1>
    <h2 class="text-md font-bold my-2 px-5 flex flex-col items-start">
      <p>indie music</p>
      <p>psychology / philosophy</p>
      <p>climbing 🧗</p>
      <p>coffee ☕️</p>
    </h2>

    <h1 class="self-start text-xl font-black pt-10 px-5">Contact</h1>
    <h1 class="w-[40%] self-start mb-2 px-5 h-2 bg-neutral-400"></h1>
    <div class="my-2 px-5 flex flex-col items-start">
      <HeaderLink href="https://github.com/vxxxxc" target="_blank"
        ><IoLogoGithub size={30} />GitHub</HeaderLink
      >
      <HeaderLink href="mailto:vxxxxc@skiff.com">vxxxxc@skiff.com</HeaderLink>
    </div>
  </main>


</html>
