---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../config";

// Use Astro.glob() to fetch all md or mdx markdown pages from "/blog", and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

let count = 0;

posts.map(post => {
  console.log(count+=1, post.frontmatter)
})

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="BLOG" />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>



    <main id="blog">
      <section>
        <ul>
            {posts.map((post) => (
						<li class="flex flex-col text-center">
							<a href={post.url}>{post.frontmatter.title}</a>
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toDateString()}
							</time>
						</li>
					))}
          </ul>
      </section>
    </main>
</html>
