---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../config";
import Header from "@components/Header.astro";
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import HomeWelcomeMsg from "../components/HomeWelcomeMsg";
import Bio from "./bio.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="HOME" />

    <style>
      p {
        margin-top: 10px;
      }
    </style>
  </head>

  <Header title={SITE_TITLE} />
  <Body>
    <main class="mx-[10%]" aria-label="home page">
      <p
        id="welMsg"
        class="inline-flex p-5 text-center font-sans text-white text-md dark:bg-zinc-700 bg-zinc-500 rounded-xl"
      >
        <HomeWelcomeMsg client:only="react" />
      </p>
      <Bio />
    </main>
    <Footer />
  </Body>
</html>
