---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="HOME" />

    <style>
      p {
        margin-top: 10px;
      }
    </style>
  </head>

  <main class="mx-[20%]">
    <p
      class="text-lg flex flex-col justify-center items-center bg-gray-700 rounded-xl p-3"
    >
      Hi there<br />I am a full-stack developer base in HK :)
    </p>
  </main>


</html>
