---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../config";
import HomeWelcomeMsg from "../components/HomeWelcomeMsg"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="HOME" />

    <style>
      p {
        margin-top: 10px;
      }
    </style>
  </head>

  <main class="mx-[20%]" aria-label="home page">
    <p id="welMsg"
      class="text-md flex flex-col justify-center items-center bg-gray-700 rounded-xl p-5 text-white">
    </p>
    <HomeWelcomeMsg client:only="react"/>
  </main>


</html>
