---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import { SITE_TITLE } from "../config";
import Bio from "./bio.astro";
import Project from "./project.astro";
import Home from "./home.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="index" />
  </head>
  <Header title={SITE_TITLE} />
  <Body>
    <Home />
    <Project />
    <Bio />
    <Footer />
  </Body>


</html>
