---
import ProjectLayout from "@layouts/ProjectLayout.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../config";
import Header from "@components/Header.astro";
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import WorkPosts from "./work/workPosts";
---

<script lang="ts">
import ProjectLayout from "@layouts/ProjectLayout.astro";
</script>

<!DOCTYPE html>
<html lang="en">
    <BaseHead title={SITE_TITLE} description="WORK" />

    <Header />

    <Body>
        <main class="mx-[10%] flex flex-col gap-5" aria-label="home page">
          <div class="self-start underline underline-offset-8 text-xl font-semibold">WORK</div>
          <WorkPosts client:only="react" />
        </main>
        <Footer />
      </Body>
</html>
