---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import { IoLogoGithub } from "react-icons/io5";
import ThemeToggle from "./ThemeToggle";
import  HeaderComponent  from "./HeaderComponent";
---

<header class="fixed left-0 top-0 p-5 fontt-vr">
  <h1 class="text-4xl">
    {SITE_TITLE}
  </h1>
  <nav class="fixed right-0 top-0 p-2 gap-4 flex flex-col">
{/*    <HeaderLink href="#home">Home</HeaderLink>
    <HeaderLink href="#blog">Blog</HeaderLink>
    <HeaderLink href="#about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank"
      >Twitter</HeaderLink
    > */}
    <HeaderComponent client:only="react"/>
    <HeaderLink href="https://github.com/withastro/astro" target="_blank"
      ><IoLogoGithub />GitHub</HeaderLink
    >
    <ThemeToggle client:only="react" />
  </nav>
</header>
