---
import HeaderLink from "./HeaderLink.astro";
import { IoLogoGithub } from "react-icons/io5";
import ThemeToggle from "./ThemeToggle";
import HeaderComponent from "./HeaderComponent";
import HeaderLogo from "./HeaderLogo.astro";
---

<header class="fontt-vr">
  <HeaderLogo/>
  <nav
    class="fixed p-5 flex flex-col items-center mobile:top-0 mobile:left-0 mobile:justify-between"
  >
    <HeaderComponent client:only="react" />
    <ThemeToggle client:only="react" />
  </nav>
</header>
