---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "");
---

<a
  class="m-2 font-vr font-bold focus:bg-purple-400"
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
  }
  a:hover {
    color: orange;
  }
</style>
