---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import { IoLogoGithub } from "react-icons/io5";
import ThemeToggle from "./ThemeToggle";
---

<header class="fontt-vr flex justify-between">
  <h1 class="text-4xl">
    {SITE_TITLE}
  </h1>
  <nav class="text-xl flex flex-col">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank"
      >Twitter</HeaderLink
    >
    <HeaderLink href="https://github.com/withastro/astro" target="_blank"
      ><IoLogoGithub />GitHub</HeaderLink
    >
    <ThemeToggle />
  </nav>
</header>
